altgraph
cycler
joblib
kiwisolver
macholib
matplotlib
modulegraph
numpy
pandas
Pillow
pyparsing
PyQt6
PyQt6-Qt6
PyQt6-sip
pyqtgraph
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
threadpoolctl
windows-curses
